<div class="home__background"></div>
<div class="l-container">
  <div class="l-header">
    <%= image_tag logo_url, alt: "Logo", class: "l-header__logo" %>
    <section class="l-header__about">
      <h1 class="l-header__title"><%= Newsletter.title %></h1>
      <p class="l-header__description"><%= Newsletter.description %></p>
    </section>
  </div>
  <main>
    <p class="about__description"><%= raw Newsletter.about.gsub("\n", "<br />") %></p>
  </main>
</div>
