<div class="container">
  <div class="welcome-header">
    <img class="welcome-logo" src="/great-stuff-logo.png" alt="Logo">
    <section class="welcome-about">
      <h1 class="welcome-title">Great Stuff by Kabir Goel</h1>
      <p class="welcome-description">Follow my journey as I try to live more intentionally, unraveling human interactions, design, and productivity along the way.</p>
    </section>
  </div>

  <%= render partial: "/subscribe", locals: {subscriber: @subscriber} %>
  <hr>
  <section class="posts-list">
    <% if @posts.empty? %>
      <p class="posts-list--empty">No posts yet. Check back soon!</p>
    <% else %>
      <ul>
        <% @posts.each do |post| %>
          <li><a href="<%= post_path(post) %>"><%= post.title %></a> <time><%= post.created_at.strftime("%Y-%m-%d") %></time></li>
        <% end %>
      </ul>
    <% end %>
  </section>
  <div class="welcome-footer">
    <p>© 2020 Kabir Goel</p><p class="welcome-powered-by">Powered by Rucksack</p>
  </div>
</div>
