<div class="l-container">
  <div class="l-header">
    <section class="l-header__about">
      <h1 class="l-header__title">Archive</h1>
      <p class="l-header__description"><%= pluralize Post.published.count, "issue" %>.</p>
      <%= render partial: "shared/subscribe", locals: {subscriber: @subscriber} %>
    </section>
  </div>
  <section>
    <div class="index">
      <%= render @posts %>
    </div>
  </section>
</div>
