/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 * posts#index
 */

.header {
  padding: var(--large) 0;
  border-bottom: 1px solid var(--color-stroke);
}

.header__logo {
  width: 128px;
  height: 128px;
  border-radius: 8px;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.5);
}

.header__description {
  color: var(--color-light);
}

.header__stats {
  color: var(--color-light);
  font-size: var(--font-size-small);
}

.subscribe {
  margin: var(--small) 0;
}

.subscribe form {
  display: flex;
}

.subscribe input[type="email"] {
  flex: 1;
}

.subscribe input[type="submit"] {
  background: var(--color-accent);
  color: #fff;
  border-radius: 4px;
  margin-left: var(--tiny);
}

.index {
  padding: var(--large) 0;
}

/*
 * posts#post
 */

.post {
  padding: var(--small) 0;
  display: block;
  position: relative;
}

.post::before {
  content: "";

  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 calc(-1 * var(--small));
  border-radius: 8px;
}

.post:hover::before {
  background: var(--color-stroke);
}

.post h2 {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-body);
  color: var(--color-light);

  width: 100%;
  margin: 0 0 var(--micro);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post .link--primary {
  color: var(--color-display);
}

.post time {
  font-size: var(--font-size-small);
  color: var(--color-light);
}

/*
 * writers#writer, subscribers#subscriber
 */
.writer,
.subscriber {
  border: 1px solid var(--color-stroke);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--medium);
  margin: var(--small) 0;
}

.link--secondary {
  color: var(--color-light);
}

.action--danger {
  font-weight: var(--font-weight-bold);
  color: var(--color-light);
}

.action--danger:hover {
  color: rgb(204, 93, 93);
}

/*
 * dashboards#show
 */
.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--small);
  border-radius: 4px;
  padding: 0 var(--extra-small);
  margin: 0 0 0 var(--micro);

  color: #fff;
  background: var(--color-light);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-tiny);
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*
 * posts#show
 */
article h1 {
  color: var(--color-display);
  margin-bottom: 0;
}

article h2 {
  color: var(--color-light);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-subtitle);
  margin-top: 0;
}

article header {
  margin: var(--large) 0;
}

article .post__time {
  color: var(--color-light);
  font-size: var(--font-size-small);
}

article .post__actions {
  display: flex;
}

article .post__actions li {
  margin-right: var(--tiny);
  color: var(--color-light);
  font-size: var(--font-size-small);
  border-bottom: 1px solid var(--color-stroke);
}

article .post__actions li:hover {
  border-bottom-color: var(--color-display);
}

article .post__byline {
  color: var(--color-light);
  font-size: var(--font-size-small);

  margin: var(--small) 0 0 0;
}
