/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 * all
 */

.flash {
  color: var(--color-light);
  font-size: var(--font-size-small);
  padding: var(--small) var(--medium);
  border: 1px solid var(--color-stroke);
  border-radius: 4px;
  margin: var(--medium) auto;
}

/*
 * devise#all
 */

.field {
  margin: var(--medium) 0;
  color: var(--color-light);
  font-size: var(--font-size-small);
}

.field input {
  color: var(--color-display);
}

.devise input[type="submit"] {
  margin: 0 0 var(--medium);
}

/*
 * devise#all, posts#new
 */
.actions {
  margin: var(--small) 0;
}

.actions label {
  color: var(--color-light);
  font-size: var(--font-size-small);
}

textarea[name="post[title]"],
textarea[name="post[subtitle]"] {
  margin-bottom: 0;
  border: 0;
  padding: 0;
  line-height: var(--line-height-title);
}

textarea[name="post[title]"] {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--tiny);
}

textarea[name="post[subtitle]"] {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-normal);
  color: var(--color-light);
}

/*
 * welcome#index
 */

.subscribe {
  margin: var(--small) 0;
}

.subscribe form {
  display: flex;
}

@media screen and (max-width: 650px) {
  .subscribe form {
    flex-direction: column;
  }
}

.subscribe input[type="email"] {
  flex: 1;
}

.subscribe input[type="submit"] {
  margin-left: var(--tiny);
}

@media screen and (max-width: 650px) {
  .subscribe input[type="submit"] {
    margin: var(--small) 0 0;
  }
}

.subscribe__message {
  color: var(--color-light);
  font-size: var(--font-size-small);
}

.index {
  padding: var(--large) 0;
}

.home__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 60vh;
  background: linear-gradient(to bottom, var(--color-accent), transparent);
  opacity: 0.1;
}

.about__description {
  color: var(--color-body);
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
}

/*
 * posts#post
 */

.post {
  padding: var(--small) 0;
  display: block;
  position: relative;
}

.post::before {
  content: "";

  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 calc(-1 * var(--small));
  border-radius: 8px;
}

.post:hover::before {
  background: var(--color-stroke);
}

.post h2 {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-body);
  color: var(--color-light);

  width: 100%;
  margin: 0 0 var(--micro);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post .link--primary {
  color: var(--color-display);
}

.post time {
  font-size: var(--font-size-small);
  color: var(--color-light);
}

/*
 * writers#writer, subscribers#subscriber
 */
.writer,
.subscriber {
  border: 1px solid var(--color-stroke);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--medium);
  margin: var(--small) 0;
}

.link--secondary {
  color: var(--color-light);
}

.action--danger {
  font-weight: var(--font-weight-bold);
  color: var(--color-light);
}

.action--danger:hover {
  color: rgb(204, 93, 93);
}

/*
 * dashboards#show
 */
.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--small);
  border-radius: 4px;
  padding: 0 var(--extra-small);
  margin: 0 0 0 var(--micro);

  color: #fff;
  background: var(--color-light);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-tiny);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heading-wrapper--with-action {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: var(--small);
}

.heading-wrapper--with-action svg {
  height: var(--small);
  width: var(--small);
}

.button__icon {
  margin-right: var(--tiny);
}

.dashboard {
  display: flex;
  flex-direction: row-reverse;
}

.dashboard section > h2 {
  margin-bottom: var(--small);
}

.dashboard .subscribers__count {
  color: var(--color-light);
}

.dashboard .l-container {
  flex: 1;
  margin: 0 var(--medium);
}

@media screen and (max-width: 650px) {
  .dashboard {
    flex-direction: column;
  }

  .dashboard .l-container {
    margin: 0;
  }
}

.settings-form__horizontal {
  display: flex;
  align-items: center;
}

.settings-form__horizontal img {
  height: 48px;
  width: 48px;
  border-radius: 4px;
  margin-right: var(--tiny);
}

.settings-form__horizontal input[type="color"] {
  margin-right: var(--tiny);
}

details {
  width: 100%;
}

#color-picker {
  margin-top: var(--small);
}

/*
 * posts#show
 */
article h1 {
  color: var(--color-display);
  margin-bottom: var(--tiny);
}

article h2 {
  color: var(--color-light);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-subtitle);
  margin-top: 0;
}

article header {
  margin: var(--large) 0;
}

article .post__time {
  color: var(--color-light);
  font-size: var(--font-size-small);
}

article .post__actions {
  display: flex;
}

article .post__actions li {
  margin-right: var(--tiny);
  color: var(--color-light);
  font-size: var(--font-size-small);
  border-bottom: 1px solid var(--color-stroke);
}

article .post__actions li:hover {
  border-bottom-color: var(--color-display);
}

article .post__byline {
  color: var(--color-light);
  font-size: var(--font-size-small);

  margin: var(--small) 0 0 0;
}
