:root {
  --color-light: #9393a8;
  --color-display: #101020;
  --color-stroke: #0000000b;
  --color-body: #282851;

  --big: 60px;
  --large: 40px;
  --medium: 30px;
  --small: 20px;
  --extra-small: 15px;
  --tiny: 10px;
  --micro: 5px;

  --font-family-display: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  --font-family-body: Source Serif Pro, Iowan Old Style, Apple Garamond,
    Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-semi-bold: 500;

  --line-height-title: 1.25;
  --line-height-body: 1.5;

  --font-size-title: 36px;
  --font-size-heading: 30px;
  --font-size-subheading: 25px;
  --font-size-display: 18px;
  --font-size-small: 16px;
  --font-size-tiny: 14px;
  --font-size-body: 20px;
  --font-size-subtitle: 24px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::placeholder {
  color: var(--color-light);
  opacity: 1;
}

html,
body {
  font-size: var(--font-size-display);
  font-family: var(--font-family-display);
  font-weight: var(--weight-normal);
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--line-height-body);
  color: var(--color-display);

  padding: 0 var(--tiny);
}

.l-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.l-container {
  max-width: 650px;
  margin: auto;
}

.l-navbar {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-light);

  padding: var(--small) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid var(--color-stroke);
}

.l-navbar__logo {
  height: 48px;
  width: 48px;
  border-radius: 4px;
  margin-right: var(--extra-small);
}

.l-navbar__brand {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .l-navbar__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.l-navbar__expand {
  display: none;
}

.l-navbar__expand > div {
  height: 3px;
  background: var(--color-light);
  width: 24px;
  margin-bottom: var(--micro);
}

.l-navbar__expand > div:last-child {
  margin-bottom: 0;
}

.l-navbar__links ul {
  display: flex;
}

.l-navbar__links li {
  margin-left: var(--small);
}

@media screen and (max-width: 650px) {
  .l-navbar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }

  .l-navbar__expand {
    display: block;
  }

  .l-navbar__links:not(.is-active) {
    display: none;
  }

  .l-navbar__links.is-active {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    padding: var(--small);
    border-radius: 8px;

    background: #fff;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.5);
  }

  .l-navbar__links ul {
    flex-direction: column;
  }

  .l-navbar__links li {
    margin: calc(var(--tiny) / 2) 0;
  }
}

.l-navbar__title {
  color: var(--color-display);
}

.l-navbar__brand:hover .l-navbar__title {
  color: var(--color-light);
}

.l-navbar a:hover {
  color: var(--color-display);
}

.l-header {
  padding: var(--large) 0;
  border-bottom: 1px solid var(--color-stroke);
}

.l-header h1 {
  margin: 0 0 var(--tiny) 0;
}

.l-header__logo {
  margin: 0 0 var(--small) 0;
  width: 128px;
  height: 128px;
  border-radius: 8px;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.5);
}

.l-header__description {
  color: var(--color-light);
}

.l-header__stats {
  color: var(--color-light);
  font-size: var(--font-size-small);
}

.l-footer {
  font-size: var(--font-size-small);
  border-top: 1px solid var(--color-stroke);
  padding: var(--large) 0;
  color: var(--color-light);
}

.l-footer__title {
  color: var(--color-display);
  font-weight: var(--font-weight-semi-bold);
}

.l-footer__links {
  margin: var(--small) 0;
}

.l-footer__links li {
  margin: var(--micro) 0;
}

.l-footer__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--medium) 0;
}

.l-footer__platform {
  font-size: calc(var(--font-size-body) * 1.25);
  font-family: var(--font-family-body);
  font-weight: 700;
  letter-spacing: -1px;
}

.l-footer__platform:hover {
  color: var(--color-display);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-title);
  font-weight: var(--font-weight-bold);
  margin: var(--small) 0 var(--tiny);
}

h1 {
  font-size: var(--font-size-title);
  color: var(--color-accent);
}

h2 {
  font-size: var(--font-size-heading);
}

h3,
h4,
h5,
h6 {
  font-size: var(--font-size-subheading);
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #f4f4f4;
  margin: var(--tiny) 0;
}

main {
  padding: var(--large) 0;
}

blockquote {
  border-left: 5px solid var(--color-accent);
  margin: var(--small) 0 var(--small) var(--tiny);
  padding: 0 0 0 var(--small);
}

.button,
button,
input,
textarea {
  background: transparent;
  border: 0;
  outline: 0;
  font-family: var(--font-family-display);
  font-size: var(--font-size-small);
  line-height: inherit;
  color: inherit;
  padding: 0;
  resize: none;
}

.button,
button,
input[type="submit"] {
  cursor: pointer;
  font-weight: var(--font-weight-semi-bold);
  display: flex;
  align-items: center;
}

.button--primary,
.button--secondary {
  padding: var(--extra-small) var(--large);
  border-radius: 4px;
}

.button--primary {
  background: var(--color-accent);
  color: #fff;
}

.button--secondary {
  border: 1px solid var(--color-stroke);
}

.button--secondary:hover {
  background: var(--color-stroke);
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  color: var(--color-display);
  border: 1px solid var(--color-stroke);
  border-radius: 4px;
  padding: var(--extra-small) var(--small);
  width: 100%;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus {
  border-color: var(--color-accent);
}

input[type="checkbox"] ~ label {
  vertical-align: middle;
}

input[type="color"] {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  overflow: hidden;
  border: 0;
}

ul {
  list-style-type: none;
}
