// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.posts-subtitle {
  font-size: 1.125rem;
  color: #666;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1rem;
}

.posts-subscribe {
  margin-top: 2rem;
}

.posts-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.posts-favorite button {
  cursor: pointer;
}

.posts-home-link--icon {
  color: #000;
  border: 1px solid #f4f4f4;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  /* Optical centering */
  padding-right: 3px;
  margin-right: 0.25rem;
  display: inline-flex;
  transition: border 0.2s ease-in-out;
}

.posts-home-link {
  display: block;
  text-decoration: none;
  margin-bottom: 2rem;
  color: #888;
  transition: color 0.2s ease-in-out;
}

.posts-home-link:hover {
  color: #000;
}

.posts-home-link:hover .posts-home-link--icon {
  border-color: #000;
}

.posts-write-publish-button {
  margin-top: 1rem;
}

.posts-write-title,
.posts-write-subtitle {
  margin-bottom: 1rem;
}
