// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.welcome-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.welcome-description {
  font-size: 0.9rem;
  color: #444;
  margin-top: 0;
}

@media screen and (max-width: 640px) {
  .welcome-header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.welcome-logo {
  height: 128px;
  width: 128px;
  margin-right: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.5);
}

.welcome-footer {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #f4f4f4;
  color: #888;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}

.welcome-footer p {
  margin: 0;
}
