<%= form_with model: subscriber, html: {class: 'subscribe'} do |f| %>
  <%= f.email_field :email, placeholder: "Email" %>
  <%= f.submit "Subscribe" %>
<% end %>

<% if flash[:subscribed] %>
  <p class="subscribe-message subscribe-message--thanks">Thanks for subscribing!</p>
<% else %>
  <p class="subscribe-message subscribe-message--error"><%= flash[:error] %></p>
<% end %>
